<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css">
<h1>Editing Post</h1>

<%= render 'form'%>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
