<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <title>Landing Page - Start Bootstrap Theme</title> -->

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/aboutUs.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/landing-page.min.css" rel="stylesheet">



    <title>About us</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />

	
</head>
<body>




	<div id="page">
		<header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">JOB ENGINE</h1>
            <h1 >about us</h1>
          </div>

          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">

              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
	
		<div id="content">
			
			<p>
				Created by Kevin,Clement,Lousie,Bella,Caleb.
​
			</p>
	    </div>
		<div id="content">
			<h1>Iteration Change</h1>
			<p>Iteration 1: Account login, Account signup, Differential access rights (admin vs user). 
			</p>
            <p>
            Iteration 2: UI development; Feature added:Search , Job post, Calender function; login/sign up update.
            </p>
		</div>
		<div id="footer">
		</div>
	<a href='/welcome'>Home Page</a>
	</div>
</body>
</html>
