<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <title>Landing Page - Start Bootstrap Theme</title> -->

    <!-- Bootstrap core CSS -->
    <!-- <link href="stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="stylesheets/aboutUs.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Custom styles for this template -->
    <link href="stylesheets/aboutUs.css" rel="stylesheet">



    <title>About us</title>

	<meta name="author" content="your name" />
	<meta name="description" content="" />


</head>
<body>




	<div id="page">
		<header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">JOB ENGINE</h1>
            <h1 >about us</h1>
          </div>

          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">

              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

		<div id="content">

			<p>
				Created by Kevin,Clement,Lousie,Bella,Caleb.
​
			</p>
	    </div>
		<div id="content">
			<h1>Iteration Change</h1>
			<p>Iteration 1: Account login, Account signup, Differential access rights (admin vs user).
			</p>
            <p class="soon">
            Iteration 2: UI development; Feature added:Search , Job post, Calender function; login/sign up update.
            </p>
            <p>
               Iteration 3: UI development; Feature added: Calender update; login/sign up update, map update, search location update.
            </p>
      <hr style="height:1px;border:none;border-top:1px solid #555555;" />
      <h1>Project Abstract</h1>
      <p>Our Application aims to provide a fantastic job matching experiences for employers who are hunting for a fully skilled employee and individuals who are seeking jobs and employment opportunities.
      </p>
      <p>Employers are able to post job requirements with the necessary qualifications and skill sets, meanwhile, job seeker could check the job basket for job posting through many different categories, once they have postings related to their qualifications and skill sets, they can post their resumes through the app and schedule for an interview.
      </p>
      <hr style="height:1px;border:none;border-top:1px solid #555555;" />
      <p>
      <h1>Competitive Analysis</h1>
      <p>Looking for a job online is getting popular now. Most online job searching basically ask employers to post a job or let users to search jobs through the whole website. It is not a easy work to users to find the jobs or the employees which could match their requirement. In the other world, users has low efficiency for getting the expected information.</p>
      <p>Designing a unique online job searching is the goal of this group project. The goal of Job
Engine web application is increasing the possibility for users to find the expected information
by having clear and separating job models.</p>
      <p>Job Engine would create an accurate and detailed job searching serving system to help users to find the job that they really need. For example, Job Engine provides international jobs, Co-op jobs and high paid jobs sections to meet different demand from users.</p>
<p>Job Engine will try to avoid bad user experience as well by applying clear and new UI design. The separating job models will solve this problem as well. Using blocks for specific section of job instead of giving tales all the time.
</p>

		</div>
		<div id="footer">
		</div>
	<a href='/welcome'>Home Page</a>
	</div>
</body>
</html>
