<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>



    <!-- Masthead -->
    <header class="masthead text-white text-center">

      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 style="color: white">WELCOME TO JOB ENGINE</h1>
            <p class="lead mb-0" style="color: white">Come And Find Your Best Job Ever!</p>
          </div>
          <div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
            <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Job Title, Company Name or Location",
             style: 'float: left-middle; width: 50%; color: black;'%>
            <%= submit_tag "Search", style: 'color: white;' %>
            <% end %>
          </div>

          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">

              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">

          <!-- <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="features-icons-icon d-flex" href='/new_users/sign_in'>
               <img class="icon-check m-auto text-primary" src="/calender.png" >
               </a>
              <h3>Try The Best Fit</h3>
              <p class="lead mb-0"> System matches for you</p>
            </div>
          </div> -->
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="features-icons-icon d-flex" href=''>
               <img class="icon-check m-auto text-primary" src="/view.png" >
               </a>
              <h3><a href='/post'>View Jobs</a></h3>
              <p class="lead mb-0">Looking for a new job?</p>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="features-icons-icon d-flex" href='/location'>
               <img class="icon-check m-auto text-primary" src="/address.png" >
               </a>
              <h3><a href='/location'>Location</a></h3>
              <p class="lead mb-0"> Where is JOB ENGINE ?</p>
            </div>
          </div>

        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <a class="features-icons-icon d-flex" href=''>
              <img class="icon-check m-auto text-primary" src="calender.png" >
                </a>
              <h3><a href='/calendar'>Calendar</a></h3>
              <p class="lead mb-0">Arrange your schedule!</p>
              </div>
        </div>
          <!-- <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <a class="features-icons-icon d-flex" href='/new_users/sign_in'>
               <img class="icon-check m-auto text-primary" src="/welcome_icon6.jpeg" >
               </a>
              <h3>Internship</h3>
              <p class="lead mb-0">Seeking for internship?</p>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2> Found Job Anywhere</h2>
            <p class="lead mb-0">
Traditional written tests have also been electronic. You can send an online application, pass calculation and text test. As a way to find new talent. Not only in the newspaper to find, but should find the right opportunity online.
                </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Professional Algorithm service</h2>
            <p class="lead mb-0">Professional algorithms provide the best suited jobs to the applicants. Massive job opportunities are presented sequentially. Users will have a clear view and great using experience.</div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Great Balence</h2>
            <p class="lead mb-0">
Want high salary? Want good working environment? Want good career planning? Job Engine will help users find a good balance between these characteristics. There will always be one for you among huge job opportunities.        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying about Job Engine</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"I found my CO-OP working opportunitiy here!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Job Engine has a well organized view of Job."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="testimonials-3.jpg" alt="">
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"I am HR and I found the best developer for my company from JOB ENGINE"</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/aboutUs">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Start JOB ENGINE All Rights Reserved.</p>
          </div>

        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
