

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>
<div>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

</div>

<%= link_to 'Top Searched Company List', locations_path,class: "btn btn-default", style:'margin-top:30px;' %>
